html {
    /* 영문이면 roboto가 적용되고, 한글이면 Noto Sans KR가 적용되도록 아래와 같은 순서로 배치 */
    font-family: "Roboto", "Noto Sans KR", sans-serif;
}

/* 노말라이즈 */
body,
ul,
li,
h1 {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

label[for] {
    cursor: pointer;
    user-select: none;
}

/* 라이브러리 */
.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.absolute-left {
    position: absolute;
    left: 0;
}

.absolute-right {
    position: absolute;
    right: 0;
}

.absolute-bottom {
    position: absolute;
    bottom: 0;
}

.absolute-top {
    position: absolute;
    top: 0;
}

.absolute-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.absolute-middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.absolute-middle.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.relative {
    position: relative;
}

.cell {
    float: left;
    box-sizing: border-box;
}

.cell-right {
    float: right;
    box-sizing: border-box;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.clear-both {
    clear: both;
}

.img-box>img {
    width: 100%;
    display: block;
}

.con {
    margin-left: auto;
    margin-right: auto;
}

.margin-0-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.line-height-0 {
    line-height: 0;
}

.line-height-0>* {
    line-height: normal;
}

.width-30px {
    width: 30px;
}

.width-35px {
    width: 35px;
}

.width-40px {
    width: 35px;
}

.width-45px {
    width: 35px;
}

.width-50px {
    width: 50px;
}

.width-80px {
    width: 80px;
}

.width-100px {
    width: 100px;
}

.width-100p {
    width: 100%;
}

.width-60p {
    width: 60%;
}

.width-55p {
    width: 55%;
}

.width-50p {
    width: 50%;
}

.width-45p {
    width: 45%;
}

.width-40p {
    width: 40%;
}

.width-30p {
    width: 30%;
}

.width-35p {
    width: 35%;
}

.width-100p-except-30px {
    width: calc(100% - 30px);
}

.width-100p-except-35px {
    width: calc(100% - 35px);
}

.width-100p-except-40px {
    width: calc(100% - 40px);
}

.width-100p-except-50px {
    width: calc(100% - 50px);
}

.width-100p-except-80px {
    width: calc(100% - 80px);
}

.width-100p-except-100px {
    width: calc(100% - 100px);
}

.height-100p {
    height: 100%;
}

.height-50p {
    height: 50%;
}

.border-box {
    box-sizing: border-box;
}

.font-size-dot-8rem {
    font-size: .8rem;
}

.table-row {
    display: table;
}

.table-row.row::after {
    display: inline;
    clear: non;
}

.table-row>.cell {
    float: none;
    display: table-cell;
}

.border-red {
    border: 10px solid red;
}

.border-green {
    border: 10px solid green;
}

.border-blue {
    border: 10px solid blue;
}

.border-gold {
    border: 10px solid gold;
}

.border-pink {
    border: 10px solid pink;
}

/* 라이브러리 - flex */
*>.flex {
    display: flex;
}

*>.flex-grow-1 {
    flex-grow: 1;
}

*>.flex-jc-c {
    justify-content: center;
}

*>.flex-jc-s {
    justify-content: flex-start;
}

*>.flex-jc-e {
    justify-content: flex-end;
}

*>.flex-jc-sb {
    justify-content: space-between;
}

*>.flex-ai-c {
    align-items: center;
}

*>.flex-ai-s {
    align-items: flex-start;
}

*>.flex-ai-e {
    align-items: flex-end;
}

*>.flex-as-s {
    align-self: stretch;
}

*>.flex-as-c {
    align-self: center;
}

*>.flex-as-s {
    align-self: flex-start;
}

*>.flex-as-e {
    align-self: flex-end;
}

*>.flex-column-nowrap {
    flex-flow: column nowrap;
}

*>.flex-column-wrap {
    flex-flow: column wrap;
}

*>.flex-row-wrap {
    flex-flow: row wrap;
}

.flex-ch-basis-0>* {
    flex-basis: 0;
}

*>.flex-1-0-0 {
    flex: 1 0 0;
}

/* 커스텀 */

/* 고정형 .con 시작 */
.con-min-width {
    min-width: 1200px;
}

/* 고정형 .con 끝 */

/* 반응형 타입 1 .con 시작 */

.con {
    max-width: 1200px;
}

/* 반응형 타입 1 .con 끝 */

/*탑바 시작*/
.top-bar {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translatex(-50%);
    width: 100%;
    z-index: 10;
    color:white;
}
.top-bar::after{
    content: "";
    position: absolute;
    top:100%;
    left:0;
    width: calc(100% - 40px);
    background-color:rgba(255,255,255,.5);
    height: 1px;
    z-index: 3;
}
.top-bar > .menu-box-1 > ul > li > a {
    padding: 40px 20px;
    position: relative;
}
.top-bar > .menu-box-1 > ul > li:hover > a::after{
    content:"";
    position: absolute;
    bottom:1.5px; /*top:100%가 아님*/
    left:0;
    width:100%;
    height: 3px;
    background-color:#0653b6;
}
.top-bar > .locator >.locator-icon > i,
.top-bar > .search >.search-icon > i,
.top-bar > .logo {
    padding: 40px 20px;
    position: relative;
}
.top-bar > .locator:hover > .locator-icon > i::after,
.top-bar > .search:hover > .search-icon > i::after{
    content:"";
    position: absolute;
    bottom:1.5px;
    left:0;
    width:100%;
    height: 3px;
    background-color:#0653b6;
}
.top-bar > .locator > .locator-icon > i {
    font-size: 20px;
}

.top-bar > .search > .search-icon > i {
    font-size: 20px;
}
.top-bar > .logo {
    position: relative;
}

.top-bar >.logo > img {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    padding-left:20px;
}

.top-bar > .logo > img:first-child {
    visibility: visible;
}

.top-bar > .logo > img:last-child {
    visibility: hidden;
}
.top-bar > .caption{
    color:white;
    position: absolute;
    top:100%;
    right:80px;
    margin-top:5px;
}
/*탑바 끝*/

/*메인 이미지 슬라이드 시작*/

.main-slide>.slick-items {
    justify-content: center;
    width: 1680px;
    box-sizing: border-box;
}

.main-slide>.slick-items>.img-box > img {
    box-sizing: border-box;
}
/*슬라이드 좌우버튼*/
.main-slide .btn-next{
    left:auto;
    right:0;
}
.main-slide .btn-prev .icon-case, .main-slide .btn-next .icon-case {
    background-color: rgba(170, 170, 170,.8);
    position: absolute;
    left:0;
    top:50%;
    transform: translateY(-50%);
    width:40px;
    height: 40px;
    visibility: hidden;
}
.main-slide .btn-prev .icon-case:hover, .main-slide .btn-next .icon-case:hover{
    background-color:rgba(239, 239, 239,.8);
    cursor: pointer;
}

.main-slide:hover .btn-prev .icon-case, .main-slide:hover .btn-next .icon-case{
    visibility: visible;
}
.main-slide .btn-prev i, .main-slide .btn-next i{
    position: absolute;
    font-size:18px;
    top:25%;
    left:25%;
    transform: translatey(-50%,-50%);
    color:rgba(0,0,0,.6);
}
.main-slide .btn-next i{
    left:auto;
    right:25%;
    transform:translateX(-25%);
}
.main-slide .btn-next > .icon-case{
    left:auto;
    right:0;
}
.main-slide .btn-prev .icon-case{
    z-index: 1;
}
/*슬라이드 안 버튼박스*/
.main-slide > .slick-items .slick-slide .img-box{
    position: relative;
    z-index: 100;
}
.main-slide > .slick-items .slick-slide .img-box .btn-box{
    position: absolute;
    top:15%;
    left:5%;
    z-index: 100;
}

/*1번 이미지 버튼설정*/
.main-slide > .slick-items .slick-slide .img-box > .btn-box-1 > .txt-1{
    color:white;
    font-size:52px;
    letter-spacing: 3px;
    margin-top:10px;
}
.main-slide > .slick-items .slick-slide .img-box > .btn-box-1 > .txt-2{
    color:white;
    font-size:25px;
}
.main-slide > .slick-items .slick-slide .img-box > .btn-box-1 > .btn{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#1c69d4;
    width:280px;
    height: 50px;
    color:white;
    margin-top:7px;
}
.main-slide > .slick-items .slick-slide .img-box > .btn-box-1 > .btn:hover{
    background-color:#0653b6;
}
/*2번 이미지 버튼설정*/
.main-slide > .slick-items .slick-slide .img-box > .btn-box-2 > .txt{
    color:white;
    font-size:52px;
    letter-spacing: 3px;
}
.main-slide > .slick-items .slick-slide .img-box > .btn-box-2 > .btn-1{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#1c69d4;
    width:280px;
    height: 50px;
    color:white;
    margin-top:10px;
}
.main-slide > .slick-items .slick-slide .img-box > .btn-box-2 > .btn-1:hover{
    background-color:#0653b6;
}
.main-slide > .slick-items .slick-slide .img-box > .btn-box-2 > .btn-2{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#4d4d4d;
    width:280px;
    height: 50px;
    color:white;
    margin-top:10px;
}
.main-slide > .slick-items .slick-slide .img-box > .btn-box-2 > .btn-2:hover{
    background-color:#262626;
}
/*3번 이미지 버튼설정*/
.main-slide > .slick-items .slick-slide .img-box > .btn-box-3 > .txt-1{
    color:white;
    font-size:52px;
    letter-spacing: 3px;
    margin-top:20px;
}
.main-slide > .slick-items .slick-slide .img-box > .btn-box-3 > .txt-2{
    color:white;
    font-size:25px;
}
.main-slide > .slick-items .slick-slide .img-box > .btn-box-3 > .btn{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#1c69d4;
    width:280px;
    height: 50px;
    color:white;
    margin-top:7px;
}
.main-slide > .slick-items .slick-slide .img-box > .btn-box-3 > .btn:hover{
    background-color:#0653b6;
}
/*4번 이미지 버튼설정*/
.main-slide > .slick-items .slick-slide .img-box > .btn-box-4 > .txt{
    color:white;
    font-size:52px;
    letter-spacing: 3px;
    margin-top:70px;
}
.main-slide > .slick-items .slick-slide .img-box > .btn-box-4 > .btn-1{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#1c69d4;
    width:280px;
    height: 50px;
    color:white;
    margin-top:7px;
}
.main-slide > .slick-items .slick-slide .img-box > .btn-box-4 > .btn-1:hover{
    background-color:#0653b6;
}
.main-slide > .slick-items .slick-slide .img-box > .btn-box-4 > .btn-2{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#4d4d4d;
    width:280px;
    height: 50px;
    color:white;
    margin-top:10px;
}
.main-slide > .slick-items .slick-slide .img-box > .btn-box-4 > .btn-2:hover{
    background-color:#262626;
}
/*메인 이미지 슬라이드 끝*/
