@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');





html {
    /* 영문이면 roboto가 적용되고, 한글이면 Noto Sans KR가 적용되도록 아래와 같은 순서로 배치 */
    font-family: "Roboto", "Noto Sans KR", sans-serif;
  }
  
  /* 노말라이즈 */
  body, ul, li, h1 {
    margin:0;
    padding:0;
    list-style:none;
  }
  
  a {
    color:inherit;
    text-decoration:none;
  }
  
  label[for] {
    cursor:pointer;
    user-select:none;
  }
  
  /* 라이브러리 */
  .block {
    display:block;
  }
  
  .inline-block {
    display:inline-block;
  }
  
  .absolute-left {
    position:absolute;
    left:0;
  }
  
  .absolute-right {
    position:absolute;
    right:0;
  }
  
  .absolute-bottom {
    position:absolute;
    bottom:0;
  }
  
  .absolute-top {
    position:absolute;
    top:0;
  }
  
  .absolute-center {
    position:absolute;
    left:50%;
    transform:translateX(-50%);
  }
  
  .absolute-middle {
    position:absolute;
    top:50%;
    transform:translateY(-50%);
  }
  
  .absolute-middle.absolute-center {
    position:absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
  }
  
  .relative {
    position:relative;
  }
  
  .cell {
    float:left;
    box-sizing:border-box;
  }
  
  .cell-right {
    float:right;
    box-sizing:border-box;
  }
  
  .row::after {
    content:"";
    display:block;
    clear:both;
  }
  
  .clear-both {
    clear:both;
  }
  
  .img-box > img {
    width:100%;
    display:block;
  }
  
  .con {
    margin-left:auto;
    margin-right:auto;
  }
  
  .margin-0-auto {
    margin-left:auto;
    margin-right:auto;
  }
  
  .text-align-center {
    text-align:center;
  }
  
  .text-align-right {
    text-align:right;
  }
  
  .line-height-0 {
    line-height:0;
  }
  
  .line-height-0 > * {
    line-height:normal;
  }
  
  .width-30px {
    width:30px;
  }
  
  .width-35px {
    width:35px;
  }
  
  .width-40px {
    width:35px;
  }
  
  .width-45px {
    width:35px;
  }
  
  .width-50px {
    width:50px;
  }
  
  .width-80px {
    width:80px;
  }
  
  .width-100px {
    width:100px;
  }
  
  .width-100p {
    width:100%;
  }
  
  .width-60p {
    width:60%;
  }
  
  .width-55p {
    width:55%;
  }
  
  .width-50p {
    width:50%;
  }
  
  .width-45p {
    width:45%;
  }
  
  .width-40p {
    width:40%;
  }
  
  .width-30p {
    width:30%;
  }
  
  .width-35p {
    width:35%;
  }
  
  .width-100p-except-30px {
    width:calc(100% - 30px);
  }
  
  .width-100p-except-35px {
    width:calc(100% - 35px);
  }
  
  .width-100p-except-40px {
    width:calc(100% - 40px);
  }
  
  .width-100p-except-50px {
    width:calc(100% - 50px);
  }
  
  .width-100p-except-80px {
    width:calc(100% - 80px);
  }
  
  .width-100p-except-100px {
    width:calc(100% - 100px);
  }
  
  .height-100p {
    height:100%;
  }
  
  .height-50p {
    height:50%;
  }
  
  .border-box {
    box-sizing:border-box;
  }
  
  .font-size-dot-8rem {
    font-size:.8rem;
  }
  
  .table-row {
    display:table;
  }
  
  .table-row.row::after {
    display:inline;
    clear:non;
  }
  
  .table-row > .cell {
    float:none;
    display:table-cell;
  }
  
  .border-red {
    border:10px solid red;
  }
  
  .border-green {
    border:10px solid green;
  }
  
  .border-blue {
    border:10px solid blue;
  }
  
  .border-gold {
    border:10px solid gold;
  }
  
  .border-pink {
    border:10px solid pink;
  }
  
  /* 라이브러리 - flex */
  * > .flex {
    display:flex;
  }
  
  * > .flex-grow-1 {
    flex-grow:1;
  }
  
  * > .flex-jc-c {
    justify-content:center;
  }
  
  * > .flex-jc-s {
    justify-content:flex-start;
  }
  
  * > .flex-jc-e {
    justify-content:flex-end;
  }
  
  * > .flex-jc-sb {
    justify-content:space-between;
  }
  
  * > .flex-ai-c {
    align-items:center;
  }
  
  * > .flex-ai-s {
    align-items:flex-start;
  }
  
  * > .flex-ai-e {
    align-items:flex-end;
  }
  
  * > .flex-as-s {
    align-self:stretch;
  }
  
  * > .flex-as-c {
    align-self:center;
  }
  
  * > .flex-as-s {
    align-self:flex-start;
  }
  
  * > .flex-as-e {
    align-self:flex-end;
  }
  
  * > .flex-column-nowrap {
    flex-flow:column nowrap;
  }
  
  * > .flex-column-wrap {
    flex-flow:column wrap;
  }
  
  .flex-ch-basis-0 > * {
    flex-basis:0;
  }
  
  * > .flex-1-0-0 {
    flex:1 0 0;
  }
  
  /* 커스텀 */
  .con-min-width {
    min-width:1366px;
  }
  
  .con {
    min-width: 1366px;
    margin-left: 60px;
    margin-right: 60px;
  }
  

/* 커스텀 */
body{
    background-color:#A5B7D8;
}

/*탑바 시작*/

/*로고*/

.wrap > .logo{
    position: fixed;
    top: 100px;
    left: 100px;
    width: 122px;
    height: 26px;
    background: url(https://tjswjd2990.github.io/img1/pf/etiqa/sp_ico.svg) 0 -739px no-repeat;
    background-size: 500px auto;
    z-index: 200;
}

/*메뉴박스 시작*/
.menu-box-1 {
  font-family: 'Inter', sans-serif;
  position: absolute;
  top: 110px;
  left: 50%;
  transform: translateX(-50%);
}
.menu-box-1 > ul > li{
    position: relative;
    margin: 0 35px;
}
.menu-box-1 > ul > li > a{
    color:white;
    font-size:16px;
    position: relative;
    font-weight: bold;
}
.menu-box-1 > ul > li > a::after{
    position: absolute;
    content: "";
    background-color:white;
    top:100%;
    width:0;
    left:0;
    height: 3px;
    visibility: hidden;
    transition: width 0.3s;
}
.menu-box-1 > ul > li:hover > a::after{
  visibility: visible;
  width:100%;
}
/*

width:104px

width:118px;

width:105px;

width:104px;

width:88px;

*/


/*2차메뉴*/
.menu-box-1 > ul ul{
    position: absolute;
    top:0;
    left: -10px;
    visibility: hidden;
    transition: top 0.3s;
}
.menu-box-1 > ul > li:hover > ul{
  top:100%;
  visibility:visible; 
}
.menu-box-1 > ul ul > li{
  padding: 10px 9px;
}
.menu-box-1 > ul ul > li > a{
    font-size:12px;
    color:white;
    font-weight: bold;
}


/*메뉴박스 끝*/

/*메뉴아이콘 시작*/
.menu-icon {
    position: fixed;
    top: 88px;
    right:88px;
    width: 50px;
    height: 50px;
    transition: transform .2s;
    z-index: 200;
}
.menu-icon > div{
    position: absolute;
    top:50%;
    left: 50%;
    width: 26px;
    height: 4px;
    transform: translate(-50%, -50%);
    background-color:white;
}
.menu-icon > div:last-child{
  transform: translate(-50%, -50%) rotate(90deg);
}
.menu-icon:hover {
  transform: rotate(90deg);
}
/*메뉴아이콘 끝*/

/*메인이미지1 시작*/
.main-img1{
  margin-top:280px;
}
.main-img1 > .img-box{
  position: relative;
  height: 400px;
  overflow: hidden;
}
.main-img1 > .img-box > img{
  position: absolute;
  min-width: 1800px;
  min-height: 400px;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}
/*메인이미지1 끝*/

/*첫번째 문구 단락 시작*/
.first-message{
  margin-top:80px;
  color:white;
}
.first-message > div {
  white-space: nowrap;
}
.first-message > .first-message1{
  font-family: 'Inter', sans-serif;
  font-size:18px;
  font-weight: bold;
}
.first-message > .first-message1 > a > .shop-btn{
  margin-top:30px;
  width:150px;
  height:50px;
  background-color:white;
  border: none;
  border-radius:50px;
}
.first-message > .first-message1 > a > .shop-btn > .text{
  font-family: 'Inter', sans-serif;
  color:black;
  margin-left:auto;
  margin-right:auto;
  font-size:18px;
}
.first-message > .first-message1 > a > .shop-btn:hover{
  background-color:black;
  cursor: pointer;
}
.first-message > .first-message1 > a:hover > .shop-btn:hover > .text{
  color:white;
}
.first-message > .first-message3{
  font-family: 'Inter', sans-serif;
  font-size:19px;
  color:white;
  font-weight: bold;
}

.first-message > .first-message4{
  font-size:16px;
  margin-left:120px;
  margin-right:35px;
  line-height:30px;
  margin-top:-6px;
  color:white;
}
/*첫번째 문구 단락 끝*/

/*메인이미지2 시작*/
.main-img2{
  margin-top:70px;
}
.main-img2 > .img-box{
  overflow: hidden;
  position: relative;
  height: 400px;
}
.main-img2 > .img-box > img{
  position: absolute;
  min-width: 1800px;
  min-height: 400px;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}
/*메인이미지2 끝*/

/*두번째 문구 단락 시작*/
.second-message{
  margin-top:80px;
  color:white;
}
.second-message > div {
  white-space: nowrap;
}
.second-message > .second-message1{
  font-family: 'Inter', sans-serif;
  font-size:18px;
  font-weight: bold;
}
.second-message > .second-message1 > a > .shop-btn{
  margin-top:30px;
  width:150px;
  height:50px;
  background-color:white;
  border: none;
  border-radius:50px;
}
.second-message > .second-message1 > a > .shop-btn > .text{
  font-family: 'Inter', sans-serif;
  color:black;
  margin-left:auto;
  margin-right:auto;
  font-size:18px;
}
.second-message > .second-message1 >  a > .shop-btn:hover{
  background-color:black;
  cursor: pointer;
}
.second-message > .second-message1 > a:hover > .shop-btn:hover > .text{
  color:white;
}
.second-message > .second-message3{
  font-family: 'Inter', sans-serif;
  font-size:19px;
  color:white;
  font-weight: bold;
}

.second-message > .second-message4{
  font-size:16px;
  margin-left:120px;
  margin-right:35px;
  line-height:30px;
  margin-top:-6px;
  color:white;
}


/*두번째 문구 단락 끝*/

/*첫번째 비디오 시작*/
.main-video1{
  margin-top:70px;
}
.main-video1 > .video-box > .video{
  height: 400px;
}
/*첫번째 비디오 끝*/

/*세번째 문구 단락 시작*/
.third-message{
  margin-top:80px;
  color:white;
}
.third-message > .third-message1{
  font-family: 'Inter', sans-serif;
  font-size:18px;
  font-weight: bold;
}
.third-message > .third-message1 > a > .shop-btn{
  margin-top:30px;
  width:150px;
  height:50px;
  background-color:white;
  border: none;
  border-radius:50px;
}
.third-message > .third-message1 > a > .shop-btn > .text{
  font-family: 'Inter', sans-serif;
  color:black;
  margin-left:auto;
  margin-right:auto;
  font-size:18px;
}
.third-message > .third-message1 >  a > .shop-btn:hover{
  background-color:black;
  cursor: pointer;
}
.third-message > .third-message1 > a:hover > .shop-btn:hover > .text{
  color:white;
}
.third-message > .third-message3{
  font-family: 'Inter', sans-serif;
  font-size:19px;
  color:white;
  font-weight: bold;
}

.third-message > .third-message4{
  font-size:16px;
  margin-left:120px;
  margin-right:35px;
  line-height:30px;
  margin-top:-6px;
  color:white;
}
/*세번째 문구 단락 끝*/

/*메인이미지3 시작*/
.main-img3{
  margin-top:70px;
}
.main-img3 > .img-box{
  overflow: hidden;
  position: relative;
  height: 400px;
}
.main-img3 > .img-box > img{
  position: absolute;
  min-width: 1800px;
  min-height: 400px;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}
/*메인이미지3 끝*/

/*네번째 문구 단락 시작*/
.forth-message{
  margin-top:80px;
  color:white;
}
.forth-message > .forth-message1{
  font-family: 'Inter', sans-serif;
  font-size:18px;
  font-weight: bold;
}
.forth-message > .forth-message1 > a > .shop-btn{
  margin-top:30px;
  width:150px;
  height:50px;
  background-color:white;
  border: none;
  border-radius:50px;
}
.forth-message > .forth-message1 > a > .shop-btn > .text{
  font-family: 'Inter', sans-serif;
  color:black;
  margin-left:auto;
  margin-right:auto;
  font-size:18px;
}
.forth-message > .forth-message1 >  a > .shop-btn:hover{
  background-color:black;
  cursor: pointer;
}
.forth-message > .forth-message1 > a:hover > .shop-btn:hover > .text{
  color:white;
}
.forth-message > .forth-message3{
  font-family: 'Inter', sans-serif;
  font-size:19px;
  color:white;
  font-weight: bold;
}
.forth-message > .forth-message4{
  font-size:16px;
  margin-left:120px;
  margin-right:35px;
  line-height:30px;
  margin-top:-6px;
  color:white;
}
/*네번째 문구 단락 끝*/

/*두번째 동영상 시작*/
.main-video2{
  margin-top:70px;
}
.main-video2 > .video-box > .video{
  height: 400px;
}
/*두번째 동영상 끝*/

/*다섯번째 문구 단락 시작*/
.fifth-message{
  margin-top:80px;
  color:white;
}
.fifth-message > .fifth-message1{
  font-family: 'Inter', sans-serif;
  font-size:18px;
  font-weight: bold;
}
.fifth-message > .fifth-message1 > a > .shop-btn{
  margin-top:30px;
  width:150px;
  height:50px;
  background-color:white;
  border: none;
  border-radius:50px;
}
.fifth-message > .fifth-message1 > a > .shop-btn > .text{
  font-family: 'Inter', sans-serif;
  color:black;
  margin-left:auto;
  margin-right:auto;
  font-size:18px;
}
.fifth-message > .fifth-message1 >  a > .shop-btn:hover{
  background-color:black;
  cursor: pointer;
}
.fifth-message > .fifth-message1 > a:hover > .shop-btn:hover > .text{
  color:white;
}
.fifth-message > .fifth-message3{
  font-family: 'Inter', sans-serif;
  font-size:19px;
  color:white;
  font-weight: bold;
}
.fifth-message > .fifth-message4{
  font-size:16px;
  margin-left:120px;
  margin-right:35px;
  line-height:30px;
  margin-top:-6px;
  color:white;
}
/*다섯번째 문구 단락 끝*/

/*세번째 동영상 시작*/
.main-video3{
  margin-top:70px;
}
.main-video3 > .video-box > .video{
  height: 400px;
}
/*세번째 동영상 끝*/

/*여섯번째 문구 단락 시작*/
.sixth-message{
  margin-top:80px;
  color:white;
}
.sixth-message > .sixth-message1{
  font-family: 'Inter', sans-serif;
  font-size:18px;
  font-weight: bold;
}
.sixth-message > .sixth-message1 > a > .shop-btn{
  margin-top:30px;
  width:150px;
  height:50px;
  background-color:white;
  border: none;
  border-radius:50px;
}
.sixth-message > .sixth-message1 > a > .shop-btn > .text{
  font-family: 'Inter', sans-serif;
  color:black;
  margin-left:auto;
  margin-right:auto;
  font-size:18px;
}
.sixth-message > .sixth-message1 >  a > .shop-btn:hover{
  background-color:black;
  cursor: pointer;
}
.sixth-message > .sixth-message1 > a:hover > .shop-btn:hover > .text{
  color:white;
}
.sixth-message > .sixth-message3{
  font-family: 'Inter', sans-serif;
  font-size:19px;
  color:white;
  font-weight: bold;
}
.sixth-message > .sixth-message4{
  font-size:16px;
  margin-left:120px;
  margin-right:35px;
  line-height: 30px;
  margin-top:-6px;
  color:white;
}
/*여섯번째 문구 단락 끝*/

/*메인이미지4 시작*/
.main-img4{
  margin-top:70px;
}
.main-img4 > .img-box{
  overflow: hidden;
  position: relative;
  height: 400px;
}
.main-img4 > .img-box > img{
  position: absolute;
  min-width:1800px;
  min-height: 400px;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}
/*메인이미지4 끝*/

/*일곱번째 문구 단락 시작*/
.seventh-message{
  margin-top:80px;
  color:white;
}
.seventh-message > .seventh-message1{
  font-family: 'Inter', sans-serif;
  font-size:18px;
  font-weight: bold;
}
.seventh-message > .seventh-message1 > a > .shop-btn{
  margin-top:30px;
  width:150px;
  height:50px;
  background-color:white;
  border: none;
  border-radius:50px;
}
.seventh-message > .seventh-message1 > a > .shop-btn > .text{
  font-family: 'Inter', sans-serif;
  color:black;
  margin-left:auto;
  margin-right:auto;
  font-size:18px;
}
.seventh-message > .seventh-message1 >  a > .shop-btn:hover{
  background-color:black;
  cursor: pointer;
}
.seventh-message > .seventh-message1 > a:hover > .shop-btn:hover > .text{
  color:white;
}
.seventh-message > .seventh-message3{
  font-family: 'Inter', sans-serif;
  font-size:19px;
  color:white;
  font-weight: bold;
}
.seventh-message > .seventh-message4{
  font-size:16px;
  margin-left:120px;
  margin-right:35px;
  line-height: 30px;
  margin-top:-6px;
  color:white;
}
/*일곱번째 문구 단락 끝*/

/*이미지 나열 시작*/
.img-list > ul{
  flex-wrap: wrap;
  margin-top: 250px;
}
.img-list > ul > li {
  position: relative;
  width: calc(50% - 30px);
  padding:0;
  box-sizing: border-box;
  overflow: hidden;
  margin-bottom:60px;
  /*box-sizing은 width 값에 padding,border의 값이 포함된다.*/
}
.img-list > ul > li:nth-child(2n + 1) {
  margin-right:60px;
}
.img-list > ul > li::after {
  content:"";
  padding-top:100%;
  display: block;
}
.img-list > ul > li > img , .img-list > ul > li > video{
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*이미지 나열 끝*/