/*노멀라이즈*/
body,ul,li,h1{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color:inherit;
}

/*라이브러리*/
.con{
    margin-left:auto;
    margin-right:auto;
}
.flex{
    display: flex;
}
.flex-grow-1{
    flex-grow: 1;
}
.block{
    display:block;
}
.flex-1-0-0{
    flex : 1 0 0;
}
.justify-content-center{
    justify-content: center;
}
.align-items-center{
    align-items: center;
}

.border-red {
    border:3px solid red;
}

/*커스텀*/
.con{
    max-width:1100px;
}
.top-bar > .title-bar > a{
    padding:20px;
    font-size:40px;
    font-weight: bold;
}
.top-bar > .menu-bar > .menu-box-1 > ul > li > a{
    padding:20px;
    text-align: center;
    font-size:20px;
    font-weight: bold;
}
.top-bar > .menu-bar > .menu-box-1 > ul > li{
    position:relative;
}
.top-bar > .menu-bar > .menu-box-1 > ul ul{
    display:none;
    position: absolute;
    left:0;
    top:100%;
    width:100%;
}
.top-bar > .menu-bar > .menu-box-1 > ul > li:hover > ul{
    display:block;
}