@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');





html {
    /* 영문이면 roboto가 적용되고, 한글이면 Noto Sans KR가 적용되도록 아래와 같은 순서로 배치 */
    font-family: "Roboto", "Noto Sans KR", sans-serif;
  }
  
  /* 노말라이즈 */
  body, ul, li, h1 {
    margin:0;
    padding:0;
    list-style:none;
  }
  
  a {
    color:inherit;
    text-decoration:none;
  }
  
  label[for] {
    cursor:pointer;
    user-select:none;
  }
  
  /* 라이브러리 */
  .block {
    display:block;
  }
  
  .inline-block {
    display:inline-block;
  }
  
  .absolute-left {
    position:absolute;
    left:0;
  }
  
  .absolute-right {
    position:absolute;
    right:0;
  }
  
  .absolute-bottom {
    position:absolute;
    bottom:0;
  }
  
  .absolute-top {
    position:absolute;
    top:0;
  }
  
  .absolute-center {
    position:absolute;
    left:50%;
    transform:translateX(-50%);
  }
  
  .absolute-middle {
    position:absolute;
    top:50%;
    transform:translateY(-50%);
  }
  
  .absolute-middle.absolute-center {
    position:absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
  }
  
  .relative {
    position:relative;
  }
  
  .cell {
    float:left;
    box-sizing:border-box;
  }
  
  .cell-right {
    float:right;
    box-sizing:border-box;
  }
  
  .row::after {
    content:"";
    display:block;
    clear:both;
  }
  
  .clear-both {
    clear:both;
  }
  
  .img-box > img {
    width:100%;
    display:block;
  }
  
  .con {
    margin-left:auto;
    margin-right:auto;
  }
  
  .margin-0-auto {
    margin-left:auto;
    margin-right:auto;
  }
  
  .text-align-center {
    text-align:center;
  }
  
  .text-align-right {
    text-align:right;
  }
  
  .line-height-0 {
    line-height:0;
  }
  
  .line-height-0 > * {
    line-height:normal;
  }
  
  .width-30px {
    width:30px;
  }
  
  .width-35px {
    width:35px;
  }
  
  .width-40px {
    width:35px;
  }
  
  .width-45px {
    width:35px;
  }
  
  .width-50px {
    width:50px;
  }
  
  .width-80px {
    width:80px;
  }
  
  .width-100px {
    width:100px;
  }
  
  .width-100p {
    width:100%;
  }
  
  .width-60p {
    width:60%;
  }
  
  .width-55p {
    width:55%;
  }
  
  .width-50p {
    width:50%;
  }
  
  .width-45p {
    width:45%;
  }
  
  .width-40p {
    width:40%;
  }
  
  .width-30p {
    width:30%;
  }
  
  .width-35p {
    width:35%;
  }
  
  .width-100p-except-30px {
    width:calc(100% - 30px);
  }
  
  .width-100p-except-35px {
    width:calc(100% - 35px);
  }
  
  .width-100p-except-40px {
    width:calc(100% - 40px);
  }
  
  .width-100p-except-50px {
    width:calc(100% - 50px);
  }
  
  .width-100p-except-80px {
    width:calc(100% - 80px);
  }
  
  .width-100p-except-100px {
    width:calc(100% - 100px);
  }
  
  .height-100p {
    height:100%;
  }
  
  .height-50p {
    height:50%;
  }
  
  .border-box {
    box-sizing:border-box;
  }
  
  .font-size-dot-8rem {
    font-size:.8rem;
  }
  
  .table-row {
    display:table;
  }
  
  .table-row.row::after {
    display:inline;
    clear:non;
  }
  
  .table-row > .cell {
    float:none;
    display:table-cell;
  }
  
  .border-red {
    border:10px solid red;
  }
  
  .border-green {
    border:10px solid green;
  }
  
  .border-blue {
    border:10px solid blue;
  }
  
  .border-gold {
    border:10px solid gold;
  }
  
  .border-pink {
    border:10px solid pink;
  }
  
  /* 라이브러리 - flex */
  * > .flex {
    display:flex;
  }
  
  * > .flex-grow-1 {
    flex-grow:1;
  }
  
  * > .flex-jc-c {
    justify-content:center;
  }
  
  * > .flex-jc-s {
    justify-content:flex-start;
  }
  
  * > .flex-jc-e {
    justify-content:flex-end;
  }
  
  * > .flex-jc-sb {
    justify-content:space-between;
  }
  
  * > .flex-ai-c {
    align-items:center;
  }
  
  * > .flex-ai-s {
    align-items:flex-start;
  }
  
  * > .flex-ai-e {
    align-items:flex-end;
  }
  
  * > .flex-as-s {
    align-self:stretch;
  }
  
  * > .flex-as-c {
    align-self:center;
  }
  
  * > .flex-as-s {
    align-self:flex-start;
  }
  
  * > .flex-as-e {
    align-self:flex-end;
  }
  
  * > .flex-column-nowrap {
    flex-flow:column nowrap;
  }
  
  * > .flex-column-wrap {
    flex-flow:column wrap;
  }
  
  .flex-ch-basis-0 > * {
    flex-basis:0;
  }
  
  * > .flex-1-0-0 {
    flex:1 0 0;
  }
  
  /* 커스텀 */
  .con-min-width {
    min-width:1750px;
  }
  
  .con {
    min-width: 1800px;
    margin-left: 60px;
    margin-right: 60px;
  }
  
/*탑바 시작*/
.top-bar{
  position: absolute;
  top:0;
  left:0;
  z-index: 300;
  color:white;
}
.top-bar > .logo{
  width:110px;
  height: 82px;
  padding-top:10px;
  padding-right:18px;
  outline: 2px solid red;
}
.top-bar > .menu-box-1{
  padding:25px 70px;
  outline: 2px solid green;
}
.top-bar > .menu-box-1 > ul > li > a{
  padding:10px 33px;
  font-size:20px;
  font-weight: 900;
  position: relative;
}
.top-bar > .menu-box-1 > ul > li:hover > a::after{
  content:"";
  position: absolute;
  top:100%;
  left:0;
  width:19px;
  height: 2px;
  background-color:red;
}
.top-bar > .lan-icon{
  padding:33px;
  padding-right:0;
  outline: 2px solid blue;
}
.top-bar > .lan-icon > svg{
  widows: 25px;
  height: 25px;
}
/*탑바 끝*/

/*상단 이미지 슬라이더 시작*/
body{
  background-color:black;
}

/*상단 이미지 슬라이더 - 이미지*/
.img-slider .item{
  height:100vh;
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
  min-height:1020px;
}

/*상단 이미지 슬라이더 시작 - 하단 버튼*/
.img-slider > .owl-carousel.owl-theme.owl-loaded > .owl-dots{
  position:absolute;
  top: calc(100vh - 30px);
  left:0;
  right:0;
  margin:0;
}
.img-slider > .owl-carousel.owl-theme.owl-loaded.owl-drag > .owl-dots > button.owl-dot > span{
  background-color:white;
  width:10px;
  height:10px;
} 
.img-slider > .owl-carousel.owl-theme.owl-loaded.owl-drag > .owl-dots > button.owl-dot:hover > span{
  background-color:white;
}
.img-slider > .owl-carousel.owl-theme.owl-loaded.owl-drag > .owl-dots > button.owl-dot.active > span{
  background-color:#51b0ec;
  width:38px;
}

.img-slider > .owl-carousel.owl-theme.owl-loaded.owl-drag > .owl-dots > button.owl-dot > span {
  border:0px solid red !important;
}

.img-slider > .owl-carousel.owl-theme > .owl-dots > button.owl-dot {
  outline:0;
}
.img-slider > .nav-icon > button.owl-prev,.img-slider > .nav-icon > button.owl-next {
  position:absolute;
  z-index:10;
  left:0;
  top:50%;
  transform:translateY(-50%);
  background-color:rgba(255, 255, 255, 0.2);
  width:50px;
  height:150px;
  border:0;
  outline:0;
  cursor:pointer;
}
.img-slider > .nav-icon > button.owl-prev:hover,.img-slider > .nav-icon > button.owl-next:hover{
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.4) 20%, rgba(255, 255, 255, 0.1) 100%);
}
.img-slider > .nav-icon > button.owl-prev{
  transform: translateY(-50%) rotate(180deg);
}
.img-slider > .nav-icon > button:last-child {
  left:auto;
  right:0;
}
.img-slider > .owl-carousel.owl-theme > .owl-stage-outer > .owl-stage > .owl-item > div.item > .img-text-box{
  position:absolute;
  top:50%;
  transform:translatey(-50%);
  left:20px;
  right:20px;
  text-align:center;
  color:white;
}
.img-slider > .owl-carousel.owl-theme > .owl-stage-outer > .owl-stage > .owl-item > div.item > .img-text-box > .title{
  font-size:3rem;
}
.img-slider > .owl-carousel.owl-theme > .owl-stage-outer > .owl-stage > .owl-item > div.item > .img-text-box > .area{
  font-size:2rem;
}
.img-slider > .owl-carousel.owl-theme > .owl-stage-outer > .owl-stage > .owl-item > div.item > .img-text-box > .more{
  display:block;
  font-size:17px;
  padding:13px 10px;
  border:2px solid white;
  border-radius:50px;
  width:200px;
  height:25px;
  margin-left:auto;
  margin-right:auto;
}
/*상단 이미지 슬라이더 끝*/