@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');








html {
    /* 영문이면 roboto가 적용되고, 한글이면 Noto Sans KR가 적용되도록 아래와 같은 순서로 배치 */
    font-family: "Arimo", "Noto Sans KR",  sans-serif;
  }
  
  /* 노말라이즈 */
  body, ul, li, h1 {
    margin:0;
    padding:0;
    list-style:none;
  }
  
  a {
    color:inherit;
    text-decoration:none;
  }
  
  label[for] {
    cursor:pointer;
    user-select:none;
  }
  
  /* 라이브러리 */
  .block {
    display:block;
  }
  
  .inline-block {
    display:inline-block;
  }
  
  .absolute-left {
    position:absolute;
    left:0;
  }
  
  .absolute-right {
    position:absolute;
    right:0;
  }
  
  .absolute-bottom {
    position:absolute;
    bottom:0;
  }
  
  .absolute-top {
    position:absolute;
    top:0;
  }
  
  .absolute-center {
    position:absolute;
    left:50%;
    transform:translateX(-50%);
  }
  
  .absolute-middle {
    position:absolute;
    top:50%;
    transform:translateY(-50%);
  }
  
  .absolute-middle.absolute-center {
    position:absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
  }
  
  .relative {
    position:relative;
  }
  
  .cell {
    float:left;
    box-sizing:border-box;
  }
  
  .cell-right {
    float:right;
    box-sizing:border-box;
  }
  
  .row::after {
    content:"";
    display:block;
    clear:both;
  }
  
  .clear-both {
    clear:both;
  }
  
  .img-box > img {
    width:100%;
    display:block;
  }
  
  .con {
    margin-left:auto;
    margin-right:auto;
  }
  
  .margin-0-auto {
    margin-left:auto;
    margin-right:auto;
  }
  
  .text-align-center {
    text-align:center;
  }
  
  .text-align-right {
    text-align:right;
  }
  
  .line-height-0 {
    line-height:0;
  }
  
  .line-height-0 > * {
    line-height:normal;
  }
  
  .width-30px {
    width:30px;
  }
  
  .width-35px {
    width:35px;
  }
  
  .width-40px {
    width:35px;
  }
  
  .width-45px {
    width:35px;
  }
  
  .width-50px {
    width:50px;
  }
  
  .width-80px {
    width:80px;
  }
  
  .width-100px {
    width:100px;
  }
  
  .width-100p {
    width:100%;
  }
  
  .width-60p {
    width:60%;
  }
  
  .width-55p {
    width:55%;
  }
  
  .width-50p {
    width:50%;
  }
  
  .width-45p {
    width:45%;
  }
  
  .width-40p {
    width:40%;
  }
  
  .width-30p {
    width:30%;
  }
  
  .width-35p {
    width:35%;
  }
  
  .width-100p-except-30px {
    width:calc(100% - 30px);
  }
  
  .width-100p-except-35px {
    width:calc(100% - 35px);
  }
  
  .width-100p-except-40px {
    width:calc(100% - 40px);
  }
  
  .width-100p-except-50px {
    width:calc(100% - 50px);
  }
  
  .width-100p-except-80px {
    width:calc(100% - 80px);
  }
  
  .width-100p-except-100px {
    width:calc(100% - 100px);
  }
  
  .height-100p {
    height:100%;
  }
  
  .height-50p {
    height:50%;
  }
  
  .border-box {
    box-sizing:border-box;
  }
  
  .font-size-dot-8rem {
    font-size:.8rem;
  }
  
  .table-row {
    display:table;
  }
  
  .table-row.row::after {
    display:inline;
    clear:both;
  }
  
  .table-row > .cell {
    float:none;
    display:table-cell;
  }
  
  .border-red {
    border:10px solid red;
  }
  
  .border-green {
    border:10px solid green;
  }
  
  .border-blue {
    border:10px solid blue;
  }
  
  .border-gold {
    border:10px solid gold;
  }
  
  .border-pink {
    border:10px solid pink;
  }
  
  /* 라이브러리 - flex */
  * > .flex {
    display:flex;
  }
  
  * > .flex-grow-1 {
    flex-grow:1;
  }
  
  * > .flex-jc-c {
    justify-content:center;
  }
  
  * > .flex-jc-s {
    justify-content:flex-start;
  }
  
  * > .flex-jc-e {
    justify-content:flex-end;
  }
  
  * > .flex-jc-sb {
    justify-content:space-between;
  }
  
  * > .flex-ai-c {
    align-items:center;
  }
  
  * > .flex-ai-s {
    align-items:flex-start;
  }
  
  * > .flex-ai-e {
    align-items:flex-end;
  }
  
  * > .flex-as-s {
    align-self:stretch;
  }
  
  * > .flex-as-c {
    align-self:center;
  }
  
  * > .flex-as-s {
    align-self:flex-start;
  }
  
  * > .flex-as-e {
    align-self:flex-end;
  }

  * > .flex-wrap-wrap{
    flex-wrap: wrap;
  }

  * > .flex-wrap-nowrap{
    flex-wrap: nowrap;
  }

  * > .flex-column-nowrap {
    flex-flow:column nowrap;
  }
  
  * > .flex-column-wrap {
    flex-flow:column wrap;
  }
  
  .flex-ch-basis-0 > * {
    flex-basis:0;
  }
  
  * > .flex-1-0-0 {
    flex:1 0 0;
  }
  
  /* 커스텀 */  
  .con {
    max-width:1860px;
  }
/*탑바 시작*/
.top-bar{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  z-index: 300;
  color:white;
  margin-left:22px;
  margin-right:33px;
}
.top-bar > .logo{
  padding:0 20px;
  flex-direction: column;
  font-size: 19px;
  width:150px;
  height: 100px;
}
.top-bar > .logo > img{
  width:110px;
  height: auto;
}
.top-bar > .menu-box-1{
  padding-left:70px;
}
.top-bar > .menu-box-1 > ul > li{
  padding:0 40px;
}
.top-bar > .menu-box-1 > ul > li > a{
  font-size:20px;
  font-weight: 900;
  font-stretch: wider;
  position: relative;
}
.top-bar > .menu-box-1 > ul > li > a::before{
  content:"";
  position: absolute;
  top:100%;
  left:50%;
  width:0;
  height: 2px;
  background-color:#df0024;
  visibility: hidden;
}
.top-bar > .menu-box-1 > ul > li > a::after{
  content:"";
  position: absolute;
  top:100%;
  right:50%;
  width:0;
  height: 2px;
  background-color:#df0024;
  visibility: hidden;
}
.top-bar > .menu-box-1 > ul > li:hover > a::before{
  width:50%;
  transition : .3s;
  visibility: visible;
}
.top-bar > .menu-box-1 > ul > li:hover > a::after{
  width:50%;
  transition : .3s;
  visibility: visible;
}
.top-bar > .menu-box-1 > ul > li:nth-child(2) > a::after,.top-bar > .menu-box-1 > ul > li:nth-child(2) > a::before{
  background-color:#0085c7;
}
.top-bar > .menu-box-1 > ul > li:nth-child(3) > a::after,.top-bar > .menu-box-1 > ul > li:nth-child(3) > a::before{
  background-color:#0da447;
}
.top-bar > .menu-box-1 > ul > li:last-child > a::after,.top-bar > .menu-box-1 > ul > li:last-child > a::before{
  background-color:#f4c300;
}
.top-bar > .lan > .lan-icon > svg{
  width:25px;
  height: 25px;
  margin-right:20px;
}
/*탑바 끝*/

/*상단 이미지 슬라이더 시작*/

/*상단 이미지 슬라이더 - 이미지*/
.img-slider .item{
  height:100vh;
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
  min-height:1020px;
}

/*상단 이미지 슬라이더 시작 - 하단 버튼*/
.img-slider > .owl-carousel.owl-theme.owl-loaded > .owl-dots{
  position:absolute;
  top: calc(100vh - 30px);
  left:0;
  right:0;
  margin:0;
}
.img-slider > .owl-carousel.owl-theme.owl-loaded.owl-drag > .owl-dots > button.owl-dot > span{
  background-color:white;
  width:10px;
  height:10px;
} 
.img-slider > .owl-carousel.owl-theme.owl-loaded.owl-drag > .owl-dots > button.owl-dot:hover > span{
  background-color:white;
}
.img-slider > .owl-carousel.owl-theme.owl-loaded.owl-drag > .owl-dots > button.owl-dot.active > span{
  background-color:#51b0ec;
  width:38px;
}

.img-slider > .owl-carousel.owl-theme.owl-loaded.owl-drag > .owl-dots > button.owl-dot > span {
  border:0px solid red !important;
}

.img-slider > .owl-carousel.owl-theme > .owl-dots > button.owl-dot {
  outline:0;
}
.img-slider > .nav-icon > button.owl-prev,.img-slider > .nav-icon > button.owl-next {
  position:absolute;
  z-index:10;
  left:0;
  top:50%;
  transform: translateY(-50%);
  background-color:rgba(255, 255, 255, 0.2);
  width:50px;
  height:150px;
  border:0;
  outline:0;
  cursor:pointer;
}
.img-slider > .nav-icon > button.owl-prev:hover,.img-slider > .nav-icon > button.owl-next:hover{
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.4) 20%, rgba(255, 255, 255, 0.1) 100%);
}
.img-slider > .nav-icon > button.owl-prev{
  transform: trnaslatey(-50%) rotate(180deg);
}
.img-slider > .nav-icon > button:last-child {
  left:auto;
  right:0;
}
.img-slider > .owl-carousel.owl-theme > .owl-stage-outer > .owl-stage > .owl-item > div.item > .img-text-box{
  position:absolute;
  top:30%;
  left:20px;
  right:20px;
  text-align:center;
  color:white;
}
.img-slider > .owl-carousel.owl-theme > .owl-stage-outer > .owl-stage > .owl-item > div.item > .img-text-box > .title{
  font-family: 'Yantramanav', sans-serif;
  font-size:90px;
}
.img-slider > .owl-carousel.owl-theme > .owl-stage-outer > .owl-stage > .owl-item > div.item > .img-text-box > .area{
  font-size:23px;
  margin-top:-80px;
  letter-spacing: .5px;
}
.img-slider > .owl-carousel.owl-theme > .owl-stage-outer > .owl-stage > .owl-item > div.item > .img-text-box > .more{
  display:block;
  font-size:19px;
  border:2px solid white;
  border-radius:50px;
  width:250px;
  padding:20px 0;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
}
.img-slider > .owl-carousel.owl-theme > .owl-stage-outer > .owl-stage > .owl-item > div.item > .img-text-box > .more:hover{
  background-color:white;
  color:black;
}
/*상단 이미지 슬라이더 끝*/

/*첫번째 레이아웃 시작*/
body{
background-color: #191d22;
}

.first-layout{
  color:white;
}

.first-layout > .con{
  max-width:1000px;
}
/*첫번째 레이아웃 끝*/

/*두번째 레이아웃 시작*/
.second-layout{
  color:white;
}
.second-layout > .PCS-Box{
  background-image:url(https://tjswjd2990.github.io/img1/pf/PUBG/sample_main_banner01.jpg);
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  width:calc(100% / 2);
  min-height: 500px;
  position: relative;
  box-sizing: border-box;
}

.second-layout > .PCS-Box >.box-title-1{
  font-family: 'Yantramanav', sans-serif;
  font-size:50px;
  position: absolute;
  top:25%;
  left:7%;
}
.second-layout > .PCS-Box > .box-txt-1{
  font-family: 'Montserrat', sans-serif;
  font-size:18px;
  font-weight: 400;
  position: absolute;
  top:52%;
  left:7%;
  font-stretch: ultra-expanded;
  letter-spacing: .8px;
}
.second-layout > .PCS-Box > .box-btn-1{
  position: absolute;
  top:60%;
  left:7%;
  width:500px;
  height: 140px;
  border:2px solid red;
}
.second-layout > .PCS-Box > .box-btn-1 > .Twitch{
  border:2px solid white;
  margin-right:8px;
  border-radius: 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-stretch: ultra-expanded;
  letter-spacing: .8px;
  width:190px;
  height: 55px;
  padding-left:15px;
  position: relative;
}
.second-layout > .PCS-Box > .box-btn-1 > .Twitch:hover{
  background-color:white;
  color:black;
}
.second-layout > .PCS-Box > .box-btn-1 > .Twitch::after{
  content:">";
  position: absolute;
  top:50%;
  right:15px;
  transform:translateY(-50%);
}
.second-layout > .PCS-Box > .box-btn-1 > .YouTube-PUBG{
  border:2px solid white;
  border-radius: 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-stretch: ultra-expanded;
  letter-spacing: .8px;
  width:190px;
  height: 55px;
  padding-left:15px;
  position: relative;
}
.second-layout > .PCS-Box > .box-btn-1 > .YouTube-PUBG:hover{
  background-color:white;
  color:black;
}
.second-layout > .PCS-Box > .box-btn-1 > .YouTube-PUBG::after{
  content:">";
  position: absolute;
  top:50%;
  right:15px;
  transform:translateY(-50%);
}
.second-layout > .PCS-Box > .box-btn-1 > .YouTube-Esports{
  border:2px solid white;
  border-radius: 30px;
  margin-right:8px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-stretch: ultra-expanded;
  letter-spacing: .8px;
  width:190px;
  height: 55px;
  padding-left:15px;
  position: relative;
}
.second-layout > .PCS-Box > .box-btn-1 > .YouTube-Esports:hover{
  background-color:white;
  color:black;
}
.second-layout > .PCS-Box > .box-btn-1 > .YouTube-Esports::after{
  content:">";
  position: absolute;
  top:50%;
  right:15px;
  transform:translateY(-50%);
}
.second-layout > .PCS-Box > .box-btn-1 > .More-Languages{
  border:2px solid white;
  border-radius: 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-stretch: ultra-expanded;
  letter-spacing: .8px;
  width:190px;
  height: 55px;
  padding-left:15px;
  position: relative;
}
.second-layout > .PCS-Box > .box-btn-1 > .More-Languages:hover{
  background-color:white;
  color:black;
}
.second-layout > .PCS-Box > .box-btn-1 > .More-Languages::after{
  content:">";
  position: absolute;
  top:50%;
  right:15px;
  transform:translateY(-50%);
}
.second-layout > .PUBG-Box{
  background-image:url(https://tjswjd2990.github.io/img1/pf/PUBG/sample_main_banner02.jpg);
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  width:calc(100% / 2);
  min-height: 500px;
  position: relative;
  border: 2px solid green;
  box-sizing: border-box;
}
/*두번째 레이아웃 끝*/